<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>
  <%- include('../partials/header.ejs') %>

  <main>
    <%- body %>
  </main>
  
  <%- include('../partials/footer.ejs') %>

  <script src="/js/image-gallery.js"></script>
</body>
</html>